/* ChangePassword.css */

.ChangePasswordContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('https://navan.ai/assets/images/saaragh_contact_us_No_Code_AI-3df2508abe0b53ac76bc75817db91b85.png') no-repeat center center;
  background-size: cover;
}

.ChangePasswordFormWrapper {
  display: flex;
  align-items: stretch;
}

.ChangePasswordImage {
  width: 400px;
  height: auto;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ChangePasswordForm {
  color: #ccc;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #000000;
}

.ChangePasswordForm h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #ccc;
}

.ChangePasswordInput {
  margin-bottom: 15px;
}

.ChangePasswordInput label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #ccc;
}

.ChangePasswordInput .input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.ChangePasswordInput .input:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

button[type='submit'] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type='submit']:hover {
  background-color: #218838;
}

p {
  text-align: center;
  margin-top: 15px;
}

p a {
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
